<div class="container">

<div class="row">
  <div class="col-lg-5 col-lg-offset-4">
    <%= search_form_for [:admin, @q], :html => {:class => "form-inline  "}  do |f| %>

      <div class="form-group">
        <%= f.search_field :code_cont, placeholder: "Código", class: "form-control" %>
      </div>
      <%= f.button :Buscar, value: "Search", class: "btn btn-primary" %>

    <% end %>
    </div>
</div>

<div class="row center">

<h1>Lista de Cupons Gerados</h1>
<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Título</th>
      <th>Nome do Cliente</th>
      <th>Email do Cliente</th>
      <th>Data de Expiração</th>
      <th>Código</th>
      <th colspan="1"></th>
      <th>Validado?</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @redeemed_coupons.each do |redeemed_coupon| %>
      <tr>
        <td><%= image_tag redeemed_coupon.coupon.image.thumb.url, :width => "40" %></td>
        <td><%= redeemed_coupon.coupon.title %></td>
        <td><%= redeemed_coupon.client_name %></td>
        <td><%= redeemed_coupon.client_email %></td>
        <td><%= redeemed_coupon.expiration_date.strftime("%d/%m/%Y") %></td>
        <td><%= redeemed_coupon.code %></td>
        <td><%= link_to 'Eliminar', [:admin, redeemed_coupon], class: "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Tem certeza que deseja ELIMINAR este cupom?' } %></td>

        <td class="text-center">
          <% if redeemed_coupon.validated %>
            <i class="fa fa-check" style="color: green"></i>
          <% else %>
            <i class="fa fa-circle-thin" style="color: blue"></i>
          <% end %>
        </td>
        <td><%= link_to 'Validar', validate_admin_redeemed_coupon_path(redeemed_coupon), class: "btn btn-success btn-lg", method: :post, data: { confirm: 'O Cupom será validado, tem certeza?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
  <div class="row">
    <div class="text-center"> <%= will_paginate @redeemed_coupons, renderer: BootstrapPagination::Rails, previous_label: "Voltar", next_label: "Próxima" %> </div>
  </div>
</div>
</div>
