<td>
  <%= user.name %>
</td>
<td>
  <%= link_to user.email, [:admin, user] %>
</td>
<td>
  <%= form_for([:admin, user]) do |f| %>
    <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    <%= f.submit 'Tipo', :class => 'btn btn-info btn-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Deletar", admin_user_path(user), :data => { :confirm => "Tem certeza?" }, :method => :delete, class: "btn btn-danger btn-xs") unless user == current_user %>
</td>
<td>
  <%= link_to "Editar", edit_admin_user_path(user), class: "btn btn-primary btn-xs"%>
</td>
