<%= simple_form_for([:admin, @coupon]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, :label => "Título" %>
    <%= f.input :description, :label => "Descrição" %>
    <%= f.input :valid_from, :label => "Válido de" %>
    <%= f.input :valid_until, :label => "Válido até" %>
    <%= f.input :image, as: :image_preview, :label => "Imagem" %>
  </div>

  <div class="form-actions">
            <div class="text-center">
    <%= link_to 'Voltar', admin_coupons_path, class: "btn btn-default" %>
    <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
