<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Waynes" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Waynes" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

<div class="container">
<div class="row center">
    <hr>
    <p class="pull-right"><a href="#" style="color:#000"><i class="fa fa-sort-asc fa-2x"></i></a></p>
    <small><p class="text-center" style="color:#888">Desenvolvido por: <a href="http://craosx.com" style="color:#888" target="_blank">CRAOSX.com</a></p></small>
</div>
</div>


  </body>
</html>
